.body {
  background-color: rgb(238, 164, 26); 
}
.style1{
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content:space-around;
}
.style2{
  height: 350px;
  font-size: 4em;
  box-shadow: 2px 2px 5px;
  flex-direction: column;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
}
.div{
  justify-content: space-between;
  height: 33.33%;
  border-bottom: 5px solid rgb(238, 164, 26);
}
.div1{
  justify-content: space-between;
  height: 33.33%;
}
.div2{
  width: 33%;
  border-right: 5px solid rgb(238, 164, 26);
}
.div22{
  width: 28%;
}
.div222{
  width: 30%;
  border-right: 5px solid rgb(238, 164, 26);
}
.buttons{
  background-color:transparent; 
  border:none; 
  height: 95px;
  width: 100%;
  color:rgb(238, 164, 26);
}
#btn{
  background-color: rgb(238, 164, 26);
}
.tdb{
  border-right: 1px solid rgb(238, 164, 26);
  display: flex;
  align-items: center;
  justify-content: center;
}
#backgroudc {
  border-radius: 20px;
  padding: 50px 0;
  padding-top: 30px;
  box-shadow: 2px 2px 5px;
  flex-direction:column;
}
.fit1{
  justify-content: space-between;
}
.style3{
  border-radius: 5px;
  margin-top: 5px;
}
.form-label{
  color: rgb(238, 164, 26);
}
.inp {
  border-radius: 10px;
  border: none;
  color: rgb(238, 164, 26);
  padding: 10px 0;
  border-radius: 3px;
  padding-left: 6px;
  margin-bottom: 20px;

}
.style44{
  display: block; 
  height: 350px;
  margin-left: 10px;
  border-radius:15px; 
  box-shadow: 2px 2px 5px;
}
.style4{
  display: none;
}
.fit22{
  justify-content: space-between;
}
@media only screen and (max-width:768px){
  .style1{
    flex-direction: column;
    margin-top:30px;
  }
  .fit2{
    justify-content: space-between;
  }
  .style2{
    margin-top: 20px; 
    height: 300px;
  }
  .buttons{
    height: 78px;
  }
  .style3{
    display: none;
  }
  .style4{
    display: block;
    height: 350px;
    margin-left: 10px;
    border-radius:15px; 
    box-shadow: 2px 2px 5px;
  }
  .style44{
    display: none;
  }
  .style5{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .fit{
    justify-content: space-between;
  }
  #backgroudc {
    width: 280px;
  }
}
